Repository bc-lee/bazel-mobile-journey: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-java-format, ktfmt

google-java-format:
  name: google-java-format
  entry: tools/pre-commit/run-google-java-format.py
  language: python
  additional_dependencies:
  - requests
  require_serial: true

ktfmt:
  name: ktfmt
  entry: tools/pre-commit/run-ktfmt.py
  language: python
  additional_dependencies:
  - requests
  require_serial: true

Add GitHub Actions workflow for building with Bazel
  .github/workflows/build.yml
Due: none

Add Bazel configuration and initial Android app structure
  .bazelrc
  .bazelversion
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  android_simple/.bazelrc
  android_simple/MODULE.bazel
  android_simple/MODULE.bazel.lock
  android_simple/app/BUILD
  android_simple/app/src/main/AndroidManifest.xml
  android_simple/app/src/main/java/com/example/simple/MainActivity.java
  android_simple/app/src/main/res/layout/activity_main.xml
  android_simple/app/src/main/res/values/strings.xml
  android_simple/app/src/main/res/values/styles.xml
Due: google-java-format

Implement bazel_version script with unit tests
  .gitignore
  tools/bazel_version.py
  tools/bazel_version_test.py
Due: none

Cancel in-progress builds if the same workflow is triggered again.
  .github/workflows/build.yml
  .github/workflows/format.yml
Due: none

Add Renovate configuration to manage dependency updates
  renovate.json
Due: none

Move android_simple/src to android_simple and remove unnecessary files.
  android_simple/.bazelrc
  android_simple/BUILD
  android_simple/MODULE.bazel
  android_simple/MODULE.bazel.lock
  android_simple/src/main/AndroidManifest.xml
  android_simple/src/main/java/com/example/simple/MainActivity.java
  android_simple/src/main/res/layout/activity_main.xml
  android_simple/src/main/res/values/strings.xml
  android_simple/src/main/res/values/styles.xml
Due: google-java-format

Add check to ensure no changes in the build workflow
  .github/workflows/build.yml
Due: none

Add Kotlin support and add simple Kotlin-based Android app
  MODULE.bazel
  MODULE.bazel.lock
  android_kotlin/BUILD
  android_kotlin/src/main/AndroidManifest.xml
  android_kotlin/src/main/kotlin/com/example/simple/MainActivity.kt
  android_kotlin/src/main/res/layout/activity_main.xml
  android_kotlin/src/main/res/values/strings.xml
  android_kotlin/src/main/res/values/styles.xml
Due: ktfmt

Move android sample code to android/ directory
  android/BUILD
  android/kotlin_app/BUILD
  android/kotlin_app/src/main/AndroidManifest.xml
  android/kotlin_app/src/main/kotlin/com/example/simple/MainActivity.kt
  android/kotlin_app/src/main/res/layout/activity_main.xml
  android/kotlin_app/src/main/res/values/strings.xml
  android/kotlin_app/src/main/res/values/styles.xml
  android/simple_app/BUILD
  android/simple_app/src/main/AndroidManifest.xml
  android/simple_app/src/main/java/com/example/simple/MainActivity.java
  android/simple_app/src/main/res/layout/activity_main.xml
  android/simple_app/src/main/res/values/strings.xml
  android/simple_app/src/main/res/values/styles.xml
Due: google-java-format, ktfmt

Add Android app with dependencies
  MODULE.bazel
  android/app_with_dependencies/BUILD
  android/app_with_dependencies/src/main/AndroidManifest.xml
  android/app_with_dependencies/src/main/java/com/example/sample/MainActivity.java
  android/app_with_dependencies/src/main/res/layout/activity_main.xml
  android/app_with_dependencies/src/main/res/values/strings.xml
  android/app_with_dependencies/src/main/res/values/styles.xml
Due: google-java-format

Enable continue-on-error for experimental builds in GitHub Actions workflow
  .github/workflows/build.yml
Due: none

Add maven_install.json for pinning Android dependencies
  MODULE.bazel
  maven_install.json
Due: none

Update renovate.json
  renovate.json
Due: none

Fix typo
  .github/workflows/build.yml
Due: none

Add re-pin step for Android dependencies in GitHub Actions workflow
  .github/workflows/build.yml
Due: none

Use bazelisk, not bazel
  .github/workflows/build.yml
Due: none

Fix package name to be consistent with ‘com.example.sample’ across all files.
  android/app_with_dependencies/src/main/AndroidManifest.xml
  android/kotlin_app/BUILD
  android/kotlin_app/src/main/AndroidManifest.xml
  android/kotlin_app/src/main/kotlin/com/example/sample/MainActivity.kt
  android/simple_app/BUILD
  android/simple_app/src/main/AndroidManifest.xml
  android/simple_app/src/main/java/com/example/sample/MainActivity.java
Due: google-java-format, ktfmt

Fix the styles.xml file of the sample using AppCompat to ensure it works
  android/app_with_dependencies/src/main/res/values/styles.xml
Due: none

Override rules_jvm_external to improve compatibility with Bazel 7
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Update rules_kotlin module dependency to use upstream, not the forked version.
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Add GitHub token support for Bazelisk
  .github/workflows/build.yml
  tools/bazel_version.py
Due: none

Add swift-format pre-commit hook
  .pre-commit-config.yaml
  .swift-format
  tools/pre-commit/run-swift-format.py
Due: none

Add initial setup for Simple iOS App with Bazel support
  MODULE.bazel
  MODULE.bazel.lock
  ios/BUILD
  ios/simple_swift_app/BUILD
  ios/simple_swift_app/Info.plist
  ios/simple_swift_app/Sources/AppDelegate.swift
  ios/simple_swift_app/Sources/LaunchScreen.storyboard
  ios/simple_swift_app/Sources/SceneDelegate.swift
  ios/simple_swift_app/Sources/ViewController.swift
Due: none

Refactor CI configuration to support separate build jobs for Linux and macOS
  .github/workflows/build.yml
  .github/workflows/format.yml
Due: none

Path conditions:
  google-java-format: any of: \.java$
  ktfmt: any of: \.(kt|kts)$
